<section class="comment-block">
  <a href="/comments/{{id}}">
    <div class="comment-body">
      <p>{{comment_body}}</p>
      <p>By: {{username}}  {{ format_date date_created}} {{ format_time time_created}}</p>
    </div>
  </a>
</section>