<section class="comment-block">
    {{!-- <a href="/comments/{{comment.id}}"> --}}
        <div class="comment-body">
            <p class="comment-text">{{comment_body}}</p>
			<p>Comment By: {{user.username}} <span class="dateTime">{{format_date date_created}} {{createdAt}}</span></p>
        </div>
    {{!-- </a> --}}
</section>