<section>
    <a href="/threads/{{id}}">
        <div class="thread-block">
			<header class="thread-head">{{thread.title}}</header>
            <p class="thread-text">{{thread.text_body}}</p>
			<p class="signature">Thread By: {{thread.username}} <span class="dateTime">{{format_date thread.date_created}} {{format_time thread.date_created}}</span></p>
        </div>
    </a>
</section>