<section class="thread-card" data-id="{{id}}">
    <a href="/threads/{{id}}">
        <div class="thread-block">
			<header class="thread-head">{{title}}</header>
            {{!-- <p class="thread-text">{{text_body}}</p> --}}
			<p class="signature">Thread By: {{user.username}} <span class="dateTime">{{format_date date_created}} {{createdAt}}</span></p>
        </div>
    </a>
</section>
<script src="./js/deleteThreads.js"></script>